*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
}

.container {
  width: auto;
  margin: 1em auto;
  padding: 80px;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /*vw(ビューポート)：表示されている画面の幅1％を1単位*/
  background-color:rgb(218, 218, 218) ;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.title {
  margin-right: 0;
  white-space: nowrap; /*タイトルを折り返さない*/
}

.menu-group {
  display: flex;
  list-style: none;
}

.menu-item + .menu-item {
  margin-left: 15px; /*項目同士の間隔*/
}

.menu-item a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 8px;
  display: inline-block;
  font-weight: bold;
  color:#1fa67a;
}

section h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

section {
  margin-top: 30px;
}

#line {
  display: block;
  padding: 0;
  color: #404040;
  border-left: solid 10px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background:rgb(218, 218, 218) ;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  font-weight: bold;
}

#line2 {
  display: block;
  padding: 0;
  color: #404040;
  border-left: solid 10px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background:rgb(218, 218, 218) ;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  font-weight: bold;
}

#line3 {
  display: block;
  padding: 0;
  color: #404040;
  border-left: solid 10px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background:rgb(218, 218, 218) ;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  font-weight: bold;
}

#line4 {
  display: block;
  padding: 0;
  color: #404040;
  border-left: solid 10px #1fa67a;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background:rgb(218, 218, 218) ;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  font-weight: bold;
}

#scroll {
  padding-top: 80px;
  padding-top: -80px;
}

#scroll2 {
  padding-top: 80px;
  padding-top: -80px;
}

#scroll3 {
  padding-top: 80px;
  padding-top: -80px;
}

@media (min-width: 1025px) {
.proin {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.proin img {
  max-width: 600px;
  height: auto;
  width: auto;
}

#introduction {
  max-width: 700px;
  line-height: 2;
  letter-spacing: 0.3em;
  color: #242424;
  font-size: medium;
}
}

h3 a {
    padding-left: 10px ;
    text-decoration: none;
}

#link {
  font-size: 15px;
  font-style: normal;
}

#clear {
  padding-left: 27px;
  display: none;
}

#Workout-time {
  position: relative;
}

#Workout-time #reps {
  position: absolute;
}

#reps {
  padding-left: 91px ;
  padding-top: 10px ;
  padding-bottom: 10px ;
}

#myTextbox {
  width: 100px;
  text-align: center;
}

::placeholder {
  text-align: center;
}

#button {
  width: 60px;
  margin-left: 0px;
}

#Reset {
  width: 60px;
  margin-left: 0px;
}

.pagetop {
  font-size: 40px;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: .3s;
  color: #1fa67a;
  background: rgb(218, 218, 218);
  opacity: 0;
}
.pagetop:hover {
    box-shadow: 0 0 20px #1fa67a;
}
